<div class="greeter-wrapper">
  <div class="wrapper">

    <h2 class="greeter-heading">Hello!</h2>
    <h3 class="greeter-heading">A nevem Dénes, és könyvekről írok.</h3>

    <p class="greeter-p">
      Ha valami érthetetlen okból még mindig maradt volna kérdésed arról, hogy mi is ez a blog, akkor hadd ajánljam a kreatívan és találóan elnevezett <a href="{{ 'bevezetes' | relative_url }}">Mi ez?</a> című posztot.
      Ha pedig már képben vagy, görgess lejjebb a bejegyzésekért!
    </p>

  </div>
</div>