<div class="modal micromodal-slide" id="search-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="search-modal-title">
      <main class="modal__content" id="search-modal-content">
        <input type="text" id="search-term" style="display: none;" placeholder="Keresés..."/>
        <p id="search-loading">Keresési index betöltése...</p>
      </main>
    </div>
  </div>
</div>