<div class="subscribe-wrapper">
  <div class="wrapper">

    <h2 class="subscribe-heading">Feliratkozás</h2>
    <p class="subscribe-p">
      Ha gondolod, add meg az email címed, és havonta küldök egy összefoglalót egyenesen az inbox-odba! Semmi rizsa, semmi spam, csak a lényeg. Ha kíváncsi vagy, mire számíthatsz, <a href="https://us4.campaign-archive.com/home/?u=5f516fde803e02feec2eea49a&id=64f174a989" target="_blank">olvass bele</a> az eddigiekbe!
    </p>

    <form
      action="https://preprocessor.us4.list-manage.com/subscribe/post?u=5f516fde803e02feec2eea49a&id=64f174a989"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>

      <div class="flex-form">
        <!-- <label for="email">Email cím:</label> -->
        <input type="email" value="" name="EMAIL" class="required email" id="email" placeholder="Email cím...">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
          name="b_5f516fde803e02feec2eea49a_64f174a989" tabindex="-1" value=""></div>
        <input type="submit" value="Feliratkozás!" name="subscribe" id="subscribe" class="button">
      </div>

    </form>

  </div>
</div>