/**
 * Site header
 */
.site-header {
  //border-top: 5px solid var(--brand-color-dark);
  //border-bottom: 1px solid var(--brand-color-light);
  color: var(--brand-color);
  background-color: var(--brand-bg);
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;

  & > .wrapper {
    position: relative;
  }
}

.site-title {
  @include relative-font-size(1.2);
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: var(--brand-color);
  }
}

.title-hash {
  color: var(--link-base-color);
  display: block;
  position: absolute;
  left: 0;
  font-size: 40px;
  font-weight: bold;
  float: left;
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit / 2;
  background-color: var(--brand-bg);
  border: 1px solid var(--brand-color-light);
  border-radius: 5px;
  text-align: right;
  user-select: none;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: var(--brand-color-dark);
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    @include relative-font-size(1.3);
    cursor: pointer;
    color: var(--brand-color);
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;
    position: relative;
    top: 3px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;

    &:hover {
      color: var(--link-base-color);
      text-decoration: none;
    }
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background-color: var(--brand-bg);
  color: var(--brand-color);
  padding: $spacing-unit / 2;
  padding-left: 0;
  padding-right: 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: var(--brand-color);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col.description {
  text-align: right;
  @include relative-font-size(0.8);
  margin-top: $spacing-unit;

  .stats {
    @include relative-font-size(0.7);
    
    .counter {
      @include relative-font-size(0.8);
      position: relative;
      top: 1px;
      font-weight: bold;
      color: var(--link-base-color);
    }
  }
}

.footer-col-1,
.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col {
    float: left;
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(1.6);
}

.post-list-heading {
  @include relative-font-size(1.4);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  > li::after {
    content: "";
    clear: both;
    display: table;
  }

  h3 {
    margin-top: 50px;
    margin-bottom: 0;
  }

  >li:first-of-type h3 {
    margin-top: 20px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: var(--text-color-dark);
  margin-bottom: 15px;
  display: block;
  padding-left: 1px;
  margin-top: 2px;

  svg.calendar {
    position: relative;
    top: 2px;
  }

  svg.tag {
    position: relative;
    top: 3px;
  }

  svg.clock {
    position: relative;
    top: 3px;
  }

  b {
    position: relative;
    top: -1px;
    opacity: 50%;
  }
}

.post-link, .post-link:visited {
  color: var(--text-color);
  display: block;
  @include relative-font-size(1.4);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(1.6);
  letter-spacing: -1px;
  line-height: 1;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(1.6);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.4);
  }

  h3 {
    @include relative-font-size(1.25);
  }

  h4 {
    @include relative-font-size(1.125);
  }
}


.social-media-list {
  display: table;
  li {
    float: left;
    margin: 0 5px;
    &:first-of-type { margin-left: 0 }
    &:last-of-type { margin-right: 0 }
    a {
      color: var(--brand-color);
      display: block;
      padding: 9px 9px 0 0;

      &:hover {
        color: var(--link-base-color);
      }
    }
  }
}


/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

  
.subscribe-wrapper {
  background-color: var(--background-color-light);
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  border-top: 2px solid var(--background-color-dark);
}

.subscribe-heading {
  @include relative-font-size(1.125);
  margin: 0;
  margin-bottom: $spacing-unit / 2;
}

.subscribe-p {
  font-family: $serif-font-family;
  @include relative-font-size(0.85);
}

.flex-form {
  display: flex;
  flex-wrap: wrap;

  #email {
    flex-grow: 1;
    box-shadow: none;
    border: 2px solid var(--text-color);
    background-color: var(--background-color-light);
    @include relative-font-size(1);
    padding: 4px 15px;
    outline: none;
    color: var(--text-color);
    min-width: 120px;
    margin-top: $spacing-unit / 2;

    &::placeholder {
      color: var(--text-color-dark);
    }
  }

  #subscribe {
    margin-top: $spacing-unit / 2;
    margin-left: $spacing-unit;
    background-color: var(--link-base-color);
    border: 2px solid var(--link-base-color);
    color: var(--background-color);
    font-weight: bold;
    @include relative-font-size(0.85);
    padding: 4px 15px;
  }
}




div > blockquote, li > blockquote {
  position: relative;
  padding-right: 1.5 * $spacing-unit;
}

.quote-translate {
  position: absolute;
  right: 0;
  border: 2px solid var(--text-color);
  outline: none;
  background-color: transparent;
  font-weight: bold;
  color: var(--text-color);
  @include relative-font-size(0.75);
  cursor: pointer;

  &:hover {
    background-color: var(--text-color);
    color: var(--background-color-dark);
  }
}





.page-navigation {
  font-size: $small-font-size;
  display: block;
  width: auto;
  overflow: hidden;
}

.page-navigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.page-navigation .next {
  text-align: right;
}




.greeter-wrapper {
  background-color: var(--background-color-light);
  padding-top: $spacing-unit;
  padding-bottom: 2 * $spacing-unit;
  border-bottom: 2px solid var(--background-color-dark);
}

.greeter-heading {
  text-align: center;
}

h3.greeter-heading {
  margin-top: 0;
  margin-bottom: $spacing-unit;
}

.greeter-p {
  font-family: $serif-font-family;
  //@include relative-font-size(0.85);
}




#progressbar {
  height: 6px;

  > .bar {
    background-color: var(--link-base-color);
  }
}




.paginator-link {
  display: block;
  margin-top: 2 * $spacing-unit;

  &.next {
    float: right;
  }

  &.previous {
    float: left;
  }
}

#lightmode {
  margin-right: 0;
}





.modal__content {
  text-align: center;
}

.twitter-typeahead {
  width: 80%;
}

#search-term {
  width: 100%;
  border: 2px solid $text-color;
  border-radius: 5px;
  color: $text-color;
  font-size: 20px;
  line-height: $base-line-height * 1.5;
  font-weight: bold;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
}

.tt-menu {
  width: 100%;
  text-align: left;
  padding: 10px;
  color: $text-color-dark;
}

.tt-suggestion {
  cursor: pointer;
}

.tt-cursor {
  color: $link-base-color;
  font-weight: bold;
}



img.cover-image {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 220px;
  max-height: 220px;
  position: relative;
  top: 6px;
  left: 2px;

  @include media-query(420px) {
    margin: 0 auto 20px;
    float: none;
  }
}

.post img.post-image {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 320px;
  max-height: 320px;
  position: relative;
  top: 6px;
  left: 2px;

  @include media-query(420px) {
    max-width: 220px;
    max-height: 220px;
  }

  @include media-query(520px) {
    margin: 0 auto 20px;
    float: none;
  }
}